<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <a class="navbar-brand" routerLink="/">My Beer App</a>

  <div class="navbar-nav links">
    <a
      class="nav-item nav-link"
      routerLink="/add"
      routerLinkActive="router-link-active"
      >Add</a>
    <a
    class="nav-item nav-link"
    routerLink="/list"
    routerLinkActive="router-link-active"
    >List</a>
    <a
    class="nav-item nav-link"
    routerLink="/vendors"
    routerLinkActive="router-link-active"
    >Vendors</a>
  </div>
</nav>

<div class="container">
  @if(!!chosenVendor()) {
    <article>
      <p>{{ chosenVendor() | json }}</p>
      <button (click)="deselectVendor()">Clear</button>
    </article>
  }
  <router-outlet></router-outlet>
</div>

